/* Reset */
ul {
  list-style: none;
  padding: 0;   
  margin: 0; 
}

li {
  padding: 0;
  margin: 0;
}

/* Basic layout styling */

body {
  margin: auto;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  color: #FFF;
  background-color: #1586CC;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 0.4em 4em;
  cursor: pointer;
  font-size: 110%;
  font-weight: bold;
}

button:hover {
  background-color: #2A33B2;  
}

/* Responsive */

@media (max-width: 800px) {
  body {
    width: 90%;
  }  
}

/* Animations */ 
.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100;
  }
}